<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <h1>About</h1>
    <p>
      Ishe (pronounced "ee-CHAY") is the Ife word for work. This app allows its users to work and complete projects around the city in which they reside. By contributing to the development of your city you do more than build great things, you meet other people who live in your city and can truly claim your city and your neighborhood as your own.
    </p>
  </body>
</html>
