<h2>We found more than one similar project that has already been created. Please select the project that is most similar to yours.</h2>

  <h4>Choose which Project is most similar:</h4>

  <!-- user clicks link which triggers create method in UJP controller -->
  <% @projects.each_with_index do |proj| %>

    <li><%= link_to "#{proj.street1} and #{proj.street2}", project_user_join_projects_path(proj), { :controller => :user_join_projects, :action => :create, :method => :post } %></li><%= image_tag proj.photo.url(:thumb) %>

  <% end %>
