// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

* {
  box-sizing: border-box;
}

html {
  font: 14px/1.4 Sans-Serif;
}

.container-fluid {
  padding: 0px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;

  .rdio {
    text-align: center;
    width: 50%;
    margin: 5px auto;
  }

  .new-streets-label {
    width: 80%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
  }

  .new-streets-field {
    width: 90%;
    margin: 5px auto;
  }

  input[type='file'] {
    display: none;
  }

  .image-label {
    width: 90%;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px auto;
  }

  input[type='submit'] {
    text-align: center;
    width: 50%;
    border-radius: 5px;
    background-color: #5CB85C;
    padding: 20px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-family: sans-serif;
  }

  input[type="submit"]:hover {
    background-color: forestgreen;
  }
}

input[type='radio'] {
  display: none;
  visibility: hidden;
}

h1, h2, h4 {
  text-align: center;
}
h4 {
  margin-top: 20px;

}

.alert {
  margin-top: 30px;
}

.table {
  margin: 0 auto;
  width: 96%;

  th, td {
    margin: 0 auto;
    text-align: center;
  }
}

#project-loc-link {
  padding: 10px;
  text-decoration: none;
  color: blue;
}

#project-loc-link:hover {
  color: skyblue;
  background-color: transparent;
}

.btn {
  margin-left: 10%;
}

#project_state {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  text-align-last: center;
}
.project-list-main {
  margin: 0 auto;
  text-align: center;

  h2 {
    font-family: sans-serif;
  }

  .choose-projects {
    list-style: none;
    margin: 10px auto;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
  }
  .btn {
    a {
      color: white;
    }
  }
}

@media (max-width: 700px) {
  .rdio {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
  .btn {
    margin: 0 auto;
  }
  .comments-head {
    display: block;
    tr {
      th:nth-child(-n+3) {
        display: none;
      }
    }
  }
}
