// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

* {
  box-sizing: border-box;
}

html {
  font: 14px/1.4 Sans-Serif;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px auto;

  .rdio {
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .new-streets-label {
    width: 40%;
    text-align: center;
    margin: 5px auto;
  }

  .new-streets-field {
    width: 50%;
    margin: 5px auto;
  }

  input[type='file'] {
    margin: 10px auto;
    width: 50%;
  }

  input[type='submit'] {
    text-align: center;
    margin: 0px auto;
    width: 50%;
  }
}
// .new-streets-container {
//
//   margin: 0 auto;
//
//   .new-streets-field {
//     margin: 5px -17%;
//     display: inline;
//     width: 50%;
//     border: 2px solid darkgrey;
//   }
//
//   .new-streets-label {
//     display: inline;
//     border: none;
//   }
//
// }

// .new-streets-field {
//   margin: 0 auto;
//   width: 60%;
//   border: 2px solid gray;
//   background: purple;
//   position: relative;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   padding: 8px 12px;
//   outline: 0;
// }
//
// .new-streets-label {
//   z-index: 100000;
//   background-color: green;
//   position: relative;
//   width: 15%;
//   bottom: 37px;
//   left: 59%;
//   border: none;
//   padding: 7px 6px;
// }


h1, h2, h4 {
  text-align: center;
}
h4 {
  margin-top: 20px;
}

input[type='radio'] {
  display: none;
  visibility: hidden;
}

.alert {
  margin-top: 30px;
}

#project-loc-link {
  color: darkgrey;
  text-decoration: none;
}

#project-loc-link:hover {
  color: skyblue;
  background-color: transparent;
}

.table {
  margin: 0 auto;

  th, td {
    margin: 0 auto;
    text-align: center;
  }
}



a {
  color: white;
  text-decoration: none;
}

.com-body {
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  background-color: darkgrey;
  border-radius: 10px;
}

.project-pics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  margin-left: 10px;
  margin-right: 10px;
}
