<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @project_comment.body %>
</p>

<p>
  <strong>Author:</strong>
  <%= @project_comment.author %>
</p>

<%= link_to 'Edit', edit_project_project_comment_path(@project) %> |
